AList/AList/bin/*
AList/AList/obj/*

AList/UnitTest/bin/*
AList/UnitTest/obj/*

paint-avlTree/bin/*
paint-avlTree/obj/*

avlTree/Trees/bin/*
avlTree/Trees/obj/*

formButtonsSQL/bin/*
formButtonsSQL/obj/*

graphs/bin/*
graphs/obj/*

.vs/*
AList/.vs/*
graphs/.vs/*
formButtonsSQL/.vs/*